<div class="mt2">
	<div class="row">
		<div class="col m6 offset-m3">
			<form action="/auth/password" method="POST">
				{{#if error}}
					<p class="alert">{{error}}</p>
				{{/if}}
				<h2 class="center mb2">Создать новый пароль?</h2>
				<div class="input-field">
					<input id="password" name="password" type="password" class="validate" required>
					<label for="password">Новый пароль</label>
					<span class="helper-text" data-error="Введите пароль"></span>
				</div>
				<input type="hidden" name="userId" value="{{userId}}">
				<input type="hidden" name="token" value="{{token}}">
				<input type="hidden" name="_csrf" value="{{@root.csrf}}">
				<button type="submit" class="btn btn-primary waves-effect waves-light btn-large w-100">Обновить пароль </button>
			</form>
		</div>
	</div>
</div>